// BG COLOR
$primary: #111;
$secondary: #fff;
$dark-1: #222;
$dark-2: #333;
$grey-1: #525252;
$grey-2: #ebebeb;
$grey-3: #f7f7f7;
$red-1: #e82222;
$red-2: #e94a4a;
$green-1: #7bd051;
$green-2: #99d27c;
$purple-1: #a04bef;
$purple-2: #be8bed;

// TEXT COLOR
$tPrimary: #fff;
$tSecondary: #222;
$tRed-1: #e82222;
$tRed-2: #e94a4a;
$tGreen-1: #7bd051;
$tGreen-2: #99d27c;
$tPurple-1: #a04bef;
$tPurple-2: #be8bed;

// FONT SIZE
$h1: 30px;
$h2: 28px;
$h3: 26px;
$h4: 24px;
$h5: 22px;
$h6: 20px;
$subtitle: 18px;
$body-1: 14px;
$body-2: 12px;

// FONT WEIGHT
$thin: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;

// MARGIN
$m-5: 5px;
$m-10: 10px;

// PADDING
$p-5: 5px;
$p-10: 10px;

// WIDTH
$w-10: 10px;
$w-100: 100%;

// HEIGHT
$h-10: 10px;
$h-100: 100%;
$h-100-vh: 100vh;

// DURATION
$fast: 0.2s;
$medium: 0.4s;
$slow: 0.8s;

// FUNCTION
$function: linear;

// BORDER RADIUS
$light: 4px;
$round: 25px;
$circle: 50%;
