.education {
  width: $w-100;
  height: $h-100;
  padding: $p-10 * 5;
  transition: all $medium $function;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  &::after {
    content: "";
    width: $w-100 * 2;
    height: $h-100;
    position: absolute;
    left: -50%;
    bottom: -50%;
    z-index: -1;
    border-radius: $circle;
    transition: all $medium $function;
  }
  .education__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content__item {
      width: $w-100 / 2.1;
      height: $h-10 * 25;
      padding: $p-10 * 2;
      border-top-left-radius: $round;
      border-bottom-right-radius: $round;
      background: $RGBA-white-2;
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      transition: all $medium $function;
      &:nth-child(2) {
        margin-top: $m-10 * 8;
      }
      &:hover {
        background: $RGBA-black-1;
      }
      .item__title {
        padding-bottom: $p-10;
        font-size: $h6;
        border-bottom: 1px solid $secondary;
      }
      .item__content {
        padding: $p-10;
        .content__detail {
          margin: $m-10 0;
          display: flex;
          .detail__icon {
            width: $w-10 * 2;
            margin-right: $m-10;
            font-size: $subtitle;
          }
          .detail__text {
            font-size: $subtitle;
          }
        }
      }
    }
  }
}

// THEME
.education--green {
  background: $green-1;
  &::after {
    background: $green-2;
  }
}
.education--red {
  background: $red-1;
  &::after {
    background: $red-2;
  }
}
.education--purple {
  background: $purple-1;
  &::after {
    background: $purple-2;
  }
}

// RESPONSIVE
.education {
  @include respond(laptop) {
    padding: $p-10 * 2;
  }
  @include respond(smallTablet) {
    padding: $p-10;
  }
  .education__content {
    @include respond(smallTablet) {
      display: none;
    }
    .content__item {
      @include respond(laptop) {
        height: auto;
      }
      .item__title {
        font-size: $subtitle;
      }
      .item__content {
        .content__detail {
          .detail__icon {
            @include respond(largeTablet) {
              font-size: $body-1;
            }
          }
          .detail__text {
            @include respond(largeTablet) {
              font-size: $body-1;
            }
          }
        }
      }
    }
  }
}
